<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Hello2</title>
</head>
<body>
	<h1>Thymeleaf Test Page</h1>
	<h3 th:text="${name}"></h3>
	
	<p th:text="'Name: ' + ${name}"></p>
	<form action="korean" method="POST">
		<input type="text" name="name" value="세종대왕" />
		<button type="submit">KOREAN</button>
	</form>
	
	<div th:if="${user}">
		<div th:text="${user}"></div>
		<div th:object=${user}>Thymeleaf test : <span th:text="|*{name}|"/></div>
		<div th:text="${user.name}"></div>
	</div>
	<div th:unless="${user}">
		<div>no user</div>
	</div>
	
	<ul>
		<li th:each="data: ${users}" th:text="${data}"></li>
		<li th:each="data: ${users}" th:text="${data.id} + '.' + ${data.name}"></li>
		<li th:each="data: ${users}" th:object="${data}">
			<span th:text="|*{id}|"></span>
			<strong th:text="|*{name}|"></strong>
		</li>
	</ul>
	
	<div>
		<a th:href="@{http://localhost:9090/hello}">HELLO</a>
		<a th:href="@{http://localhost:9090/hello2}">HELLO2</a>
	</div>
</body>
</html>